.section-hero {
  min-height: 620px;
}

.swiper {
  position: relative;
}

.section-hero__content {
  position: relative;
  z-index: 3;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 792px;
  padding-bottom: 100px;
  pointer-events: none;
  color: #fff;
  /* max-width: 910px;
  max-height: 50%; */
}

.section-hero__content > * {
  pointer-events: auto;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gray;
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.slide-1 {
  background-image: url("../img/low-1770px.jpg");
}

.slide-2 {
  background-image: url("../img/brown-and-blue.jpg");
}

.slide-3 {
  background-image: url("../img/apartment.jpg");
}

.section-hero__heading {
  /* max-width: 837px; */
  /* max-height: 170px; */
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 24px;
  /* padding-top: 100px; */
  /* padding-left: 80px; */
  font-size: 70px;
  line-height: 85px;
  font-style: normal;
  font-weight: 800;
  color: #fff;
}

.section-hero__action {
  display: inline-block;
}

.section-hero__description {
  /* max-width: 790px; */
  /* max-height: 58px; */
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.btn-hero {
  display: inline-block;
  /* max-width: 280px;
  max-height: 78px; */
  padding: 25px 37px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  /* text-transform: uppercase; */
  color: white;
  background-color: #ff9900;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.btn-hero:hover {
  color: var(--white);
  background-color: var(--color);
}

.btn-hero:active {
  color: var(--white);
  transform: translateY(-1px);
  background-color: var(--font);
}

.btn-hero:focus:not(:hover):not(:active) {
  outline: 2px solid var(--color-orange);
  outline-offset: 3px;
}

@media (max-width: 1360px) {

.hero-back__color-gray {
  /* width: 100%; */
  max-width: 858px;
  max-height: 620px;
  background: url("../img/low-angle-1024px.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-color: gray;
}

.section-hero__heading {
  /* max-width: 770px; */
  margin-bottom: 16px;
  line-height: 73px;
  font-size: 60px;
}

.section-hero__description {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 60px;
}

.btn-hero {
  padding: 25px 33px;
  line-height: 29px;
}

.section-hero__content {
  min-width: 80%;
}
}

@media (max-width: 1024px) {

.hero-back__color-gray {
  max-width: 920px;
  min-height: 665px;
  background-size: contain;
}

.btn-hero {
  padding: 25px 34px;
  line-height: 29px;
}

.section-hero__content {
  max-width: 100%;
  padding-left: 77px;
  padding-right: 77px;
  padding-bottom: 160px;
  padding-top: 157px;
}
}

@media (max-width: 768px) {
.hero-back__color-gray {
  max-width: 668px;
  min-height: 662px;
  background: url("../img/low-angle-768px.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-color: gray;
}

.section-hero__heading {
  max-width: 588px;
  font-size: 47px;
  line-height: 60px;
}

.section-hero__description {
  max-width: 588px;
  /* max-height: 66px; */
  font-size: 18px;
  line-height: 22px;
}

.section-hero__content {
  max-width: 98%;
  padding-left: 40px;
  padding-bottom: 160px;
  padding-right: 40px;
  padding-top: 162px;
}
}

@media (max-width: 580px) {

.section-hero {
  min-height: 308px;
}

.section-hero__heading {
  min-width: 247px;
  padding-top: 30px;
  margin-bottom: 6px;
  font-weight: 800;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
}

.section-hero__description {
  /* max-height: 66px; */
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.btn-hero {
  padding: 11px 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.section-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 60px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 60px;
}
}

@media (max-width: 320px) {

.hero-back__color-gray {
  max-width: 290px;
  min-height: 308px;
  margin-bottom: 0px;
  background: url("../img/low-320px.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-color: gray;
}

.section-hero__content {
  padding-top: 31px;
}

.section-hero__description {
  margin-bottom: 32px;
}

.btn-hero {
  padding: 11px 22px;
  font-size: 13px;
  line-height: 19px;
}
}
